{% extends 'core/base.html' %}
{%load bootstrap5%}
{%load static%}
{%block content%}
      <!-- Section-->
        <header>
            <div class="section__container header__container">
                <div class="header__content">
                    <p>About Us...</p>
                    <h1>Welcome to Gula!</h1>
                    <button class="btn">SHOP NOW  <i class='bx bxs-shopping-bag-alt bx-tada'></i></button>
                    
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="header__image">
                    <img src={%static "assets/header.png"%} >
                </div>
            </div>
        </header>
        
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
                        <p align="left">
                          Welcome to our Gula shop!
        We are a team of passionate individuals dedicated to providing the best products and services to our customers.
        Our mission is to make your shopping experience more enjoyable
        <div class="contact-info">
            Find us at: Makerere Hill
            <br>
            Cell phone: +256 787541120 
            <br>+256 700345628
            <br>Contact us at: gulaadmin@gmail.com
            </div>
                        </p>
                        <br/><br/>
                    </div>
                </center>
            </div>
        </div>
    
{%endblock%}

