{% extends 'core/base.html' %}
{%load bootstrap5%}
{% load static %}
{% block content %}
<!-- Section-->
        <header>
            <div class="section__container header__container">
                <div class="header__content">
                    <p>All Products Page</p>
                    <h1>View all products...</h1>
                    <button class="btn">SHOP NOW  <i class='bx bxs-shopping-bag-alt bx-tada'></i></button>
                    
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="header__image">
                    <img src={%static "assets/header.png"%} >
                </div>
            </div>
        </header>
  <br/><br/>
{%if messages%}
            {%for message in messages%}
            <div class="alert alert-warning alert-dismissible fade show visible" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {%endfor%}
        {%endif%}
        <!-- Section-->
               
        <div class="container">
            <div class="row">
                <div class="col-md-10"> 
                    <section class="py-5">
                        <div class="container text-center">
                            <h2 class="section__title"><i class='bx-flashing'>All Products<i class='bx bxs-shopping-bag'></i></i></h2>
                        </div>
                        <div class="container mt-5">
                            <div class="row row-cols-4 justify-content-center">
                                
               
{%for product in products%}
                
                                <div class="prod col mb-5">
                                    <div class="card h-100">
                                        <!-- Product image-->
                                        <img class="card-img-top" width="100%" height="100%" src="{{product.image.url}}" alt="..." />
                                        <!-- Product details-->
                                        <div class="card-body p-2">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder">{{product.title}}</h5>
                                                <!-- Product price-->
                                                <h5>Shs. {{product.price}}</h5>
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{product.slug}}/">View Product</a></div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                
                                
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        
    </body>

<br/><br/>
{% endblock %}
