{%load bootstrap5%}
{%load static%}

       
{%include 'core/navbar.html'%}
      
         {%if messages%}
            {%for message in messages%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {%endfor%}
        {%endif%}
        {% block content %}
        {% endblock %}<br/>
        <!-- Footer-->
       


         <footer style="background-color: #75b1da; color: #051c3a;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4"> 
                    <ul>
                        <li class="topper">ABOUT US</li>
                        <li><a class="dropdown-item" href="{%url 'core:index'%}">Home</a></li>
                        <li><a class="dropdown-item" href="{%url 'core:about'%}">About</a></li>
                    </ul>   
                </div>
                <div class="col-lg-4">
                    <ul>
                        <li class="topper">Support</li>
                        <li>Safety tips</li>
                        <li>support@gula.ug</li>
                        <li>FAQ</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul>
                        <li class="topper">Contact us</li>
                        <li>+256 787541120</li>
                        <li>+256 700345628</li>
                        <li>gulaadmin@gmail.com</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static "js/scripts.js" %}"></script>
    </body>
</html>
