{%load bootstrap5%}
{%load static%}
<!DOCTYPE html>
<html lang= "en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>GULAA! </title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static "assets/favicon.png" %}" />
    <link href="{% static "css/cartview.css" %}" rel="stylesheet" />
    <!--stylesheets for editing html doc-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'/>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel= "stylesheet" />
    <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" rel= "stylesheet" />
    <src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel= "stylesheet" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  </head>
    <body>
        <div class="header__bar">Bringing The Best Customers And Best Sellers Together</div>
        
        <nav class="navbar navbar-expand-lg ">
        <div class="container px-2 px-lg-3">
            <a href="{%url 'core:index'%}"><img src="{% static "assets/bluesquare.png" %}" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{%url 'core:index'%}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{%url 'core:about'%}">About</a></li>
                {%if user.is_authenticated%}
                <li class="nav-item"><a class="nav-link" href="{%url 'core:logout'%}">Logout</a></li>
                {% if user.is_staff %}
                <li class="nav-item"><a class="nav-link" href="{%url 'core:mystore'%}">My Store</a></li>
                {% endif %}
                {%else%}
                <li class="nav-item"><a class="nav-link" href="{%url 'core:login'%}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{%url 'core:register'%}">Register </a></li>
                {% endif %}               
                </ul>
                <div class="search">
                    <form method="get" action="/search/">
                    <input type="search" name ="query" placeholder="Search">
                    </form>
                </div>
                <form class="d-flex">
                    <a href="{%url 'cart:cart_summary'%}" class="btn btn-outline-dark">  <i class="bi-cart-fill me-1"></i>Cart<span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span></a>
                </form>
            </div>
            </button>
        </div>
        </nav>

        <div class='topper'>
            <h2 class='shoo'>Shopping Cart</h2>
        </div>
        <div class='container3'>
            <div class='box'>
                {% if cart_products %}
                    {% for product in cart_products  %}
                        <div class='rows'>
                            <img src="{{ product.image.url }}" class="cartpic">
                            <div class= 'info'>
                                <p class='cat'>{{product.category}}</p>
                                <p class='tit'>{{product.title}}</p>
                                <button type="button" value="{{product.id}}" class="btn btn-danger delete-product" id="delete">Remove</button>
                            </div>
                            <div class='quan'>
                                <p class='cat'>Quantity</p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <select class="form-select form-select-md" id="select{{product.id}}">
                                            {%for key, value in quantities.items%}
                                                {%if key == product.id|slugify %}
                                                        <option selected>{{ value }}</option>
                                                {%endif%}
                                            {%endfor%}
                                    
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="button" value="{{product.id}}" class="btn btn-success update-cart" id="update">Update</button>
                            </div>
                            <div class='pricey'>
                                <p class='cat'>Price</p>
                                <h4>UGX {{ product.price }}</h4>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="rows">
                    <div class='shoper'>
                        <a href="{%url 'core:index'%}" class="btn btn-secondary">Back to shop</a>
                    </div>
                    <div class="right">
                        <h3> Total: Shs.{{totals}}</h3>
                        <a href="{%url 'PaymentApp:checkout' %}" class="btn btn-secondary">Checkout</a>
                    </div>
                </div>
            </div>
        </div>

        <script>
        //update cart
        $(document).on('click', '#update', function (e) {
            e.preventDefault();
            var id = this.value
            console.log($(`#select${id} option:selected`).text());
            $.ajax({
                type: 'POST',
                url: "{%url 'cart:cart_update'%}",
                data: {
                    product_id: id,
                    product_qty: $(`#select${id} option:selected`).text(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
        
                success: function (json) {
                    //console.log(json)
                    document.getElementById("cart_quantity").textContent = json.qty
                    location.reload()
                },
                error: function (xhr, errmsg, err) {
        
                }
        
        
            });
        
        
        
        })
               
                //delete product from cart
               $(document).on('click', '#delete', function(e){
               e.preventDefault();
               //grab product id
               var productid=this.value
               console.log("deleted")
               $.ajax({
                   type: 'POST',
                   url: "{% url 'cart:cart_delete' %}",
                   data: {
                       product_id: productid,
                       //product_quantity: $('#select' + productid+ 'option:selected').text(),
                       csrfmiddlewaretoken: '{{ csrf_token }}',
                       action: 'post'
                   },
                   
                   success: function(json){
                       //console.log(json)
                      // document.getElementById("cart_quantity").textContent = json.qty
                      location.reload();
                   },
                   error: function(xhr, errmsg, err){
                   
                   }
                   
               
               });
               
               
               })
               
        
        </script>
    </body>
