{% extends 'core/base.html' %}
{%load bootstrap5%}
{%load static%}
{%block content%}
      <!-- Section-->
        <header>
            <div class="section__container header__container">
                <div class="header__content">
                    <p>Category Page</p>
                    <h1>{{ category }}...</h1>
                    <button class="btn" href="#">SHOP NOW  <i class='bx bxs-shopping-bag-alt bx-tada'></i></button>
                    
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="header__image">
                    <img src={%static "assets/header.png"%} >
                </div>
            </div>
        </header>


        <br>
        <br>
        {% comment %} <div class="image-container">
            <div class="image">
                <img src={%static "assets/shades1.avif"%} alt="Image 1">
                <div class="collection__content">
                    <h2 class="section__title">New Collection</h2>
                    <p>#35 items</p>
                    <h4>Available On Store</h4>
                    <button class="btn">SHOP NOW</button>
                </div>
            </div>
            <div class="image"><img src={%static "assets/shades1.avif"%} alt="Image 1"></div>
            
            <div class="image"><img src={%static "assets/shades1.avif"%} alt="Image 3"></div>
        </div> {% endcomment %}
       
       {%comment%} <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div class= "column-container">
                        <div class="section__container">
                            <section class="section_container collection__container">
                               
                                    <img src={%static "assets/shoess.jpg"%} >
                                    <div class="collection__content">
                                        <h4 class="section__title">Footwear</h4>
                                    </div>
                                
                            </section>
                        </div>
                        
                        <div class="section__container">
                            <section class="section_container collection__container">
                                <img src={%static "assets/appliance.avif"%} >
                                <div class="collection__content">
                                    <h4 class="section__title">Appliances</h4>
                                </div>
                            </section>
                            
                        </div>
                        <br>
                        <div class="section__container">
                            <section class="section_container collection__container">
                                <img src={%static "assets/watches2.jpeg"%} >
                                <div class="collection__content">
                                    <h4 class="section__title">Jewellery</h4>
                                </div>
                            </section>
                            
                        </div>

                        <div class="section__container">
                            <section class="section_container collection__container">
                                <img src={%static "assets/phones.jpg"%} >
                                <div class="collection__content">
                                    <h4 class="section__title">Electronics</h4>
                                </div>
                            </section>
                            
                        </div>
                        <div class="section__container">
                            <section class="section_container collection__container">
                                <img src={%static "assets/makeup.jpg"%} >
                                <div class="collection__content">
                                    <h4 class="section__title">Health &amp; Beauty </h4>
                                </div>
                            </section>
                            
                        </div>
                    </div>
                </div>{% endcomment %}
                <div class="col-md-10"> 
                    <section class="py-5">
                        <div class="container text-center">
                            <h2 class="section__title"><i class='bx-flashing'>New Arrivals<i class='bx bxs-shopping-bag'></i></i></h2>
                        </div>
                        <div class="container px-4 px-lg-5 mt-5">
                            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                                
                                {%for product in products%}
                
                                <div class="col mb-5">
                                    <div class="card h-100">
                                        <!-- Product image-->
                                        <div class="ribbon-wrapper" width='100%'>
                                            <div class ="ribbon">New</div>
                                        </div>
                                        <img class="card-img-top" width="100%" height="100%" src="{{product.image.url}}" alt="..." />
                                        <!-- Product details-->
                                        <div class="card-body p-2">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder">{{product.title}}</h5>
                                                <!-- Product price-->
                                                <h5>Shs. {{product.price}}</h5>
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'core:product' product.id %}">View Product</a></div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                
                                
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        
    </body>
     {%endblock%}
   



