{% extends 'core/base.html' %}
{%load bootstrap5%}
{%load static%}
{%block content%}
      <!-- Section-->
        <header>
            <div class="section__container header__container">
                <div class="header__content">
                    <p>Categories</p>
                    <h1>Choose your Category...</h1>
                    <button class="btn">SHOP NOW  <i class='bx bxs-shopping-bag-alt bx-tada'></i></button>
                    
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="header__image">
                    <img src={%static "assets/header.png"%} >
                </div>
            </div>
        </header>
        
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
                       {% for category in categories %}
                       <h3> <a href="{%url 'core:category' category %}">{{ category }} </a></h3>
                       {% endfor %}
                                 <br/><br/><br/><br/><br/><br/><br/><br/>
                    </div>
                </center>
            </div>
        </div>
    
{%endblock%}

