{% extends 'core/base.html' %}
{%load bootstrap5%}
{% load static %}
{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
       <!-- Section-->
        <header>
            <div class="section__container header__container">
                <div class="header__content">
                    <p>Checkout page</p>
                    <h1>Checkout for products...</h1>
                    <button class="btn">SHOP NOW  <i class='bx bxs-shopping-bag-alt bx-tada'></i></button>
                    
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="header__image">
                    <img src={%static "assets/header.png"%} >
                </div>
            </div>
        </header>
  <br/><br/>
  {%for product in cart_products%}
    <div class="product-container">
     <div class="products">
            <img class="img" src="{{ product.image.url }}" alt="">
            <p>Product: {{product.title}}</p>
            <p>Price: Shs. {{product.price}}</p>
            <p>Description: {{product.description}}</p>
            <p>Quantity: 
            {% for key,value in quantities.items %}
                {% if key == product.id|slugify %}
                    {{ value }}
                {% endif %}
             {% endfor %}</p><br/>
            
{%endfor%}
            <h3> Total: Shs.{{totals}}</h3>
            <br/>
            <a href="{% url 'cart:cart_summary' %}" class="btn btn-success">Update Items</a>
            </br>
            <!-- <button>Purchase</button> -->
            {{paypal.render}}
        </div>  
    </div>
    <style>
        body {
            padding: 0px;
            box-sizing: border-box;
        }

        .product-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100vh;
        }
        .img {
            width: 60%;
            border-radius: 50px;
        }
        button {
            padding: 10px;
            border-radius: 5px;
            background-color: dodgerblue;
            color: white;
            border: none;
        }
    </style>
</body>
</html>
<br/><br/>
{% endblock %}