{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Boxicons -->
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <!-- My CSS -->
        <script src="{%static "js/script.js"%}"></script>
        <link rel="stylesheet" href="{%static "css/store.css"%}">

	<title>AdminHub</title>
    </head>
    <body>


        <!-- SIDEBAR -->
        <section id="sidebar">
            <a href="{%url 'core:index'%}" class="brand">
                <img src="{%static "assets/bluesquare.png"%}">
            </a>
            <ul class="side-menu top">
                <li>
                    <a href="{%url 'core:mystore'%}">
                        <i class='bx bxs-dashboard' ></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li >
                    <a href="{%url 'core:addproduct'%}">
                        <i class='bx bxs-shopping-bag-alt' ></i>
                        <span class="text">My Store</span>
                    </a>
                </li>
                <li>
                    <a href="{%url 'core:myproduct'%}">
                        <i class='bx bxs-store-alt' ></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        <i class='bx bxs-cog'></i>
                        <span class="text">Editting Product</span>
                    </a>
                </li>
            </ul>
            <ul class="side-menu">
                <li>
                    <a href="{% url "core:index" %}" class="logout">
                        <i class='bx bxs-log-out-circle' ></i>
                        <span class="text">Homepage</span>
                    </a>
                </li>
            </ul>
            <ul class="side-menu">
                <li>
                    <a href="#" class="logout">
                        <i class='bx bxs-log-out-circle' ></i>
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>
        </section>
        <section id="content">
            <!-- NAVBAR -->
            <nav>
                <i class='bx bx-menu' ></i>
                <a href="#" class="profile">
                    <img src="{%static "assets/store.png"%}">
                </a>
                <h2>WELCOME TO YOUR STORE! {{user.first_name}}</h2>
            </nav>
            <!-- NAVBAR -->

            <!-- MAIN -->
            <main>
                <div class="head-title">
                    <div class="left">
                        <h1>Dashboard</h1>
                        <ul class="breadcrumb">
                            <li>
                                <a href="#">Dashboard</a>
                            </li>
                            <li><i class='bx bx-chevron-right' ></i></li>
                            <li>
                                <a class="active" href="#">My Store</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <br><br>

                <!-- Form -->
                <section id="messages">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </section>
                <h1>Edit Product</h1>
                <div class='container'>
                    <div class='column'>
                        <div class="card ">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{product.image.url}}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-2">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{product.title}}</h5>
                                    <!-- Product price-->
                                    <h5>Shs. {{product.price}}</h5>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer">
                                <div class="text-center">
                                    <a href="{% url "core:deleteProduct" product.id %}">
                                        <div class='btn2 text-center'>
                                            Delete Product
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='column2'>
                        <form method="POST" action="." enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="input-box {% if form.title.errors %}error{% endif %}">
                                <input type="text" id="title" name="title" placeholder="Enter title" required>
                                <i class='bx bx-user'></i>
                                {% if form.title.errors %}
                                    <span class="error-message">{{ form.title.errors }}</span>
                                {% endif %}
                            </div>
                            
                            <div class="input-box {% if form.category.errors %}error{% endif %}">
                                <select id="category" name="category" required>
                                    <option value="">Select category</option>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                                <i class='bx bx-category'></i>
                                {% if form.category.errors %}
                                    <span class="error-message">{{ form.category.errors }}</span>
                                {% endif %}
                            </div>
                            
                            <div class="input-box {% if form.description.errors %}error{% endif %}">
                                <textarea id="description" name="description" rows="4" placeholder="Enter description" required></textarea>
                                <i class='bx bx-message-square-detail'></i>
                                {% if form.description.errors %}
                                    <span class="error-message">{{ form.description.errors }}</span>
                                {% endif %}
                            </div>
                            
                            <div class="input-box {% if form.price.errors %}error{% endif %}">
                                <input type="number" id="price" name="price" placeholder="Enter price" required>
                                <i class='bx bx-dollar-circle'></i>
                                {% if form.price.errors %}
                                    <span class="error-message">{{ form.price.errors }}</span>
                                {% endif %}
                            </div>
                            
                            <div class="input-box2 file-input {% if form.image.errors %}error{% endif %}">
                                <label for="image" class="file-label">Upload Image</label>
                                <input type="file" id="image" name="image" accept="image/*" required>
                                {% if form.image.errors %}
                                    <span class="error-message">{{ form.image.errors }}</span>
                                {% endif %}
                            </div>
                            <br><br><br>
                            <button type="submit" class="btn3">Update Product</button>
                        </form>
                    </div>
                </div>
               
                <!-- Form -->
            </main>
            <!-- MAIN -->
        </section>

        
        <!-- CONTENT -->

        <script src="{% static "js/script.js" %}"></script>
    </body>
</html>
