{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>GULAA! </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static "assets/favicon.png" %}" />
        <!-- Bootstrap icons-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link href="{% static "css/reg.css" %}" rel="stylesheet" />
        {%if messages%}
            {%for message in messages%}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {%endfor%}
        {%endif%}
        <style>
            body {
                background-image: url('{% static "assets/bluer.jpg" %}');
                background-size: cover;
                background-position: center;
            }
        </style>
    </head>
    
    <div class= "wrapper">
        <form method ="POST" action ="{%url 'core:login'%}">
            {%csrf_token%}
            <div class= 'logo' >
                <a href ="{%url 'core:index'%}">
                    <img src="{% static "assets/bluesquare.png" %}">
                </a>
            </div>
            <br></br>
            <div class ="input-box">
                <input type ="text" class="form-control" name="username" placeholder ="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class ="input-box">
                <input type ="password" class="form-control" name="password" placeholder ="Password" required>
                <i class='bx bxs-lock-alt' ></i>
            </div>
            <button type= "submit" class="btn">Login</button>
            <div class= "register-link">
                    <p>Dont have an account? <a href="{%url 'core:register'%}">Register with us</a></p>
            </div>
        </form>
    </div>

</html>