{%load static%}
<!--  Nav starts here-->

<!DOCTYPE html>
<html lang= "en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>GULAA! </title>
        <!-- Favicon-->
        <link href="{% static "css/detail.css" %}" rel="stylesheet" />
        <!--stylesheets for editing html doc-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel= "stylesheet" />
        <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" rel= "stylesheet" />
        <src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="icon" type="image/x-icon" href="{% static "assets/favicon.png" %}" />
        <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel= "stylesheet" />

        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    </head>
        
<body>
    
    <div class="header__bar">Bringing The Best Customers And Best Sellers Together</div>

    <nav class="navbar navbar-expand-lg ">
        <div class="container px-2 px-lg-3">
            <a href="{%url 'core:index'%}"><img src="{% static "assets/bluesquare.png" %}" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{%url 'core:index'%}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'core:about'%}">About</a></li>
                    {%if user.is_authenticated%}
                        <li class="nav-item"><a class="nav-link" href="{%url 'core:logout'%}">Logout</a></li>
                        <li class="nav-item"><a class="nav-link" href="{%url 'core:myaccount'%}">My Account</a></li>
                        <li class="nav-item"><a class="nav-link" href="{%url 'core:mystore'%}">My Store</a></li>
                    {%else%}
                        <li class="nav-item"><a class="nav-link" href="{%url 'core:login'%}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{%url 'core:register'%}">Register </a></li>
                    {% endif %}
                                
            </div>
        </div>
    </nav>
</body>
<!-- end of Nav bar-->

<!--footer-- >
<div class="footer">
    you have been logged out.
</div> 
<!--end footer -->
        
