{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Boxicons -->
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <!-- My CSS -->
        <script src="{%static "js/script.js"%}"></script>
        <link rel="stylesheet" href="{%static "css/store.css"%}">

	<title>AdminHub</title>
    </head>
    <body>


        <!-- SIDEBAR -->
        <section id="sidebar">
            <a href="{%url 'core:index'%}" class="brand">
                <img src="{%static "assets/bluesquare.png"%}">
            </a>
            <ul class="side-menu top">
                <li>
                    <a href="{%url 'core:mystore'%}">
                        <i class='bx bxs-dashboard' ></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li >
                    <a href="{%url 'core:addproduct'%}">
                        <i class='bx bxs-shopping-bag-alt' ></i>
                        <span class="text">My Store</span>
                    </a>
                </li>
                <li class="active">
                    <a href="{%url 'core:myproduct'%}">
                        <i class='bx bxs-store-alt' ></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li>
                    <i class='bx bxs-cog'></i>
                    <span class="text">Edit Product</span>
                </li>
                
            </ul>
           
            
            <ul class="side-menu">
                <li>
                    <a href="{%url 'core:logout'%}" class="logout">
                        <i class='bx bxs-log-out-circle' ></i>
                        <span class="text">Logout</span>
                    </a>
                </li>
                <li>
                    <a href="{% url "core:index" %}" >
                        <i class='bx bxs-home-alt-2'></i>
                        <span class="text">Homepage</span>
                    </a>
                </li>
            </ul>
        </section>
        <section id="content">
            <!-- NAVBAR -->
            <nav>
                <i class='bx bx-menu' ></i>
                <a href="#" class="profile">
                    <img src="{%static "assets/store.png"%}">
                </a>
                <h2>WELCOME TO YOUR STORE! {{user.first_name}}</h2>
            </nav>
            <!-- NAVBAR -->

            <!-- MAIN -->
            <main>
                <div class="head-title">
                    <div class="left">
                        <h1>Dashboard</h1>
                        <ul class="breadcrumb">
                            <li>
                                <a href="#">Dashboard</a>
                            </li>
                            <li><i class='bx bx-chevron-right' ></i></li>
                            <li>
                                <a class="active" href="#">My Store</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <br><br>

                <!-- Form -->
                
                    <h1 class='toppie'>Your Products</h1>
                    
                    
                    <div class="container-fluid" style="width: 30%;">
                        <div class="column">                                  
                                        
                    {%for product in user.products.all%}
                        <div class="card ">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{product.image.url}}" />
                            <!-- Product details-->
                            <div class="card-body p-2">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{product.title}}</h5>
                                    <!-- Product price-->
                                    <h5>Shs. {{product.price}}</h5>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer">
                                <div class="text-center">
                                    <a href="{% url "core:editproduct" product.id %}">
                                    <div class='btn text-center'>
                                        Edit Product
                                    </div>
                                </a></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
            <!-- Form -->
            </main>
            <!-- MAIN -->
        </section>

        
        <!-- CONTENT -->


    </body>
</html>