{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Boxicons -->
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <!-- My CSS -->
        <script src="{%static "js/script.js"%}"></script>
        <link rel="stylesheet" href="{%static "css/store.css"%}">

	<title>AdminHub</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="{%url 'core:index'%}" class="brand">
            <img src="{%static "assets/bluesquare.png"%}">
        </a>
		<ul class="side-menu top">
			<li class="active">
				<a href="#">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="{%url "core:addproduct"%}">
					<i class='bx bxs-shopping-bag-alt' ></i>
					<span class="text">My Store</span>
				</a>
			</li>
			<li>
				<a href="{%url 'core:myproduct'%}">
					<i class='bx bxs-store-alt' ></i>
					<span class="text">Products</span>
				</a>
			</li>
			<li>
                <i class='bx bxs-cog'></i>
                <span class="text">Edit Product</span>  
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="{%url 'core:logout'%}" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->
<!-- CONTENT -->
<section id="content">
    <!-- NAVBAR -->
    <nav>
        <i class='bx bx-menu' ></i>
        <a href="#" class="profile">
            <img src="{%static "assets/store.png"%}">
        </a>
        <h2>{{user.first_name}}'s Store</h2>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Dashboard</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li><i class='bx bx-chevron-right' ></i></li>
                    <li>
                        <a class="active" href="#">Home</a>
                    </li>
                </ul>
            </div>
        </div>

        <ul class="box-info">
            <li>
                <i class='bx bxs-shopping-bag-alt' ></i>
                <a href="{%url 'core:myproduct'%}">
                    <span class="text">
                        <h3>My Products</h3>
                    </span>
                </a>
            </li>
            <li>
                <i class='bx bxs-store-alt' ></i>
                <a href="{%url "core:addproduct"%}">
                    <span class="text">
                        <h3>Add Product</h3>
                    </span>
                </a>
            </li>
            <li>
                <i class='bx bxs-log-out-circle' ></i>
                <a href="{%url 'core:logout'%}" >
                    <span class="text">
                        <h3>Logout</h3>
                    </span>
                </a>
            </li>
        </ul>


        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>Product Summary</h3>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Created at</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for product in user.products.all%}
                        <tr>
                            <td>
                                <img src="{{product.image.url}}">
                                <p>{{product.title}}</p>
                            </td>
                            <td>{{product.price}}</td>
                            <td><p>{{ product.created_at|date:"F d, Y" }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <!-- MAIN -->
</section>
<!-- CONTENT -->


</body>
</html>
