{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment successful</title>
</head>
<body>
    <h1>Payment successful for product: {{product.title}}</h1>
    <div class="product-container">
        <div class="products">
            <img class="img" src="{{ product.image.url }}" alt="">
            <p>{{product.title}}</p>
            <p>Price: Ush. {{product.price}}</p>
            <p>Description: {{product.description}}</p>

        </div>  
    </div>
    <style>
        body {
            padding: 10px;
            box-sizing: border-box;
        }

        .product-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100vh;
        }
        .img {
            width: 60%;
            border-radius: 50px;
        }
        button {
            padding: 10px;
            border-radius: 5px;
            background-color: dodgerblue;
            color: white;
            border: none;
        }
    </style>
</body>
</html>
{% endblock %}