{%load static%}
<!DOCTYPE html>
<html lang= "en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>GULAA! </title>
        <!-- Favicon-->
        <link href="{% static "css/detail.css" %}" rel="stylesheet" />
        <!--stylesheets for editing html doc-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel= "stylesheet" />
        <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" rel= "stylesheet" />
        <src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="icon" type="image/x-icon" href="{% static "assets/favicon.png" %}" />
        <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel= "stylesheet" />

        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    </head>
        
    <body>
        
        <div class="header__bar">Bringing The Best Customers And Best Sellers Together</div>

            <nav class="navbar navbar-expand-lg ">
                <div class="container px-2 px-lg-3">
                    <a href="{%url 'core:index'%}"><img src="{% static "assets/bluesquare.png" %}" /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{%url 'core:index'%}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{%url 'core:about'%}">About</a></li>
                        {%if user.is_authenticated%}
                        <li class="nav-item"><a class="nav-link" href="{%url 'core:logout'%}">Logout</a></li>
                        <li class="nav-item"><a class="nav-link" href="{%url 'core:myaccount'%}">My Account</a></li>
                        <li class="nav-item"><a class="nav-link" href="{%url 'core:mystore'%}">My Store</a></li>
                        {%else%}
                        <li class="nav-item"><a class="nav-link" href="{%url 'core:login'%}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{%url 'core:register'%}">Register </a></li>
                        {% endif %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#!">All Products</a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                    <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                                </ul>
                            </li>                        
                        </ul>
                        <div class="search">
                            <form method="get" action="/search/">
                                <input type="search" name ="query" placeholder="Search">
                                <button>
                                    <i class='bx bx-search'></i>
                                </button>
                            </form>
                        </div>

                        <form class="d-flex">
                            <a href="{%url 'cart:cart_summary'%}" class="btn btn-outline-dark">  <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span></a>
                          
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <br></br>
       
        <br></br>
        <div class='container'>
            <div class= "row">
                <div class="col-md-8">
                    <div class="card-body">
                        <img src="{{product.image.url}}" alt= "{{product.name}}" width="100%">
                    </div>
                </div>
                <div class="col-lg-3">
                    <h1 class="product_title"><h1>{{product.title}}</h1></h1>  
                    <p>
                    {{product.description}}
                    </p>
                    <div class="vendor">
                        <img class="profile"src="{%static "assets/placeholder.png"%}">
                        <h3><a href="{%url 'core:vendor_detail' product.user.id %}">{{product.user.username}}</a></h3>
                    </div>
                    <br>
                    <div class="vendor">
                        <h3>Shs.{{product.price}}</h3>
                    </div>
                    <br/>
                    <button type="button" value="{{ product.id }}" class="btn btn-secondary" id="add-cart">Add to Cart</button>
                </div>
            </div>
            
                  
        </div>
        <br></br>
    </body>
</html>
                    {% comment %} <div class="card">
                        <h4 class="card-title">{{product.title}}</h4>
                        <h5>Shs. {{product.price}}</h5>
                        <p>
                            <a href="{%url 'core:vendor_detail' product.user.id %}">{{product.user.username}}</a>
                        </p>
                    </div> {% endcomment %}