{%load bootstrap5%}
{%load static%}
<!DOCTYPE html>
<html lang= "en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>GULAA! </title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static "assets/favicon.png" %}" />
    <link href="{% static "css/prodview.css" %}" rel="stylesheet" />
    <!--stylesheets for editing html doc-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'/>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel= "stylesheet" />
    <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" rel= "stylesheet" />
    <src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel= "stylesheet" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="header__bar">Bringing The Best Customers And Best Sellers Together</div>
    
    <nav class="navbar navbar-expand-lg ">
      <div class="container px-2 px-lg-3">
        <a href="{%url 'core:index'%}"><img src="{% static "assets/bluesquare.png" %}" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="{%url 'core:index'%}">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="{%url 'core:about'%}">About</a></li>
              {%if user.is_authenticated%}
              <li class="nav-item"><a class="nav-link" href="{%url 'core:logout'%}">Logout</a></li>
              {% if user.is_staff %}
              <li class="nav-item"><a class="nav-link" href="{%url 'core:mystore'%}">My Store</a></li>
              {% endif %}
              {%else%}
              <li class="nav-item"><a class="nav-link" href="{%url 'core:login'%}">Login</a></li>
              <li class="nav-item"><a class="nav-link" href="{%url 'core:register'%}">Register </a></li>
              {% endif %}               
            </ul>
              <div class="search">
                <form method="get" action="/search/">
                  <input type="search" name ="query" placeholder="Search">
                </form>
              </div>
              <form class="d-flex">
                <a href="{%url 'cart:cart_summary'%}" class="btn btn-outline-dark">  <i class="bi-cart-fill me-1"></i>Cart<span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span></a>
              </form>
          </div>
        </button>
      </div>
    </nav>
    
    <div class='container2'>
      <div class= "row">
        <div class="col-md-7">
          <div class="card-body">
            <img src="{{product.image.url}}" alt= "{{product.name}}" width="100%">
          </div>
        </div>
        <div class="col-lg-5">
          <h4 class= "ven"><a href="{%url 'core:vendor_detail' product.user.id %}">{{product.user.username}}</a></h4>
          <h1 class="product_title">{{product.title}}</h1>
          <br>
          <p>
          {{product.description}}
          </p>
          <br>
          <div class="vendor">
            <h3 class="price">Shs {{product.price}}</h3>
          </div>
          <div class="row justify-content-center"><br/>
            <div class="col-md-2"><h4>Quantity:</h4></div>
              <div class="col-md-2">
                <select class="form-select form-select-sm" id="quantity-cart">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <br>
              </div>
            </div>
          <br/>
          <button type="button" value="{{ product.id }}" class="carty" id="add-cart">Add to Cart</button>
          <button type="button" class="carty2" ><a href="{%url 'core:index'%}">Continue Shopping</a></button>
      </div>
    </div>
        
        
    <script>
      //check if button pressed
    $(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    console.log($('#quantity-cart option:selected').text());
    $.ajax({
      type: 'POST',
      url: "{%url 'cart:cart_add'%}",
      data:{
        product_id: $('#add-cart').val(),
        product_qty: $('#quantity-cart option:selected').text(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
          },
               
      success: function(json){
        //console.log(json)
        document.getElementById("cart_quantity").textContent = json.qty
        location.reload()
        },
        error: function(xhr, errmsg, err){
              
          }
               
           
        });
           
        
    })
           
    
           
    </script>
  </body>
  
       {% comment %} <!-- Section-->
        <header>
            <div class="section__container header__container">
                <div class="header__content">
                    <p>Product page</p>
                    <h1>View selected product...</h1>
                    <button class="btn" href="#">SHOP NOW  <i class='bx bxs-shopping-bag-alt bx-tada'></i></button>
                    
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="header__image">
                    <img src={%static "assets/header.png"%} >
                </div>
            </div>
        </header>

        
        <br>
        <br> 
        <center>
         <div class="card-group"  style="max-width: 680px;">        
        <div class="card">
            <br/>
            <div class="row">
              <div class="column">
            <img src="{{ product.image.url }}" class="card-img-top" alt="..." style="width:100%">
          </div>
        </div>
        <div class="card-body">
    
          <h5 class="card-title">Product: {{ product.title }}</h5>
          <br/>
          <p class="card-text justified">Description: {{ product.description }}</p>
          
          Price: Shs.{{ product.price }}
          <br/><br/>
        </div>
        
      <br/><br/>
      <div align="right">
        <a href="{%url 'core:index'%}" class="btn btn-secondary">Back to Shop</a>
     <button type="button" value="{{ product.id }}" class="btn btn-secondary" id="add-cart">Add to Cart</button>
      </div>
      </div>
    </div>
  </div>     
  </div>
  </div>
</center>
{% endcomment %}


<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

<footer style="background-color: #75b1da; color: #051c3a;">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-4"> 
              <ul>
                  <li class="topper">ABOUT US</li>
                  <li><a class="dropdown-item" href="{%url 'core:index'%}">Home</a></li>
                  <li><a class="dropdown-item" href="{%url 'core:about'%}">About</a></li>
              </ul>   
          </div>
          <div class="col-lg-4">
              <ul>
                  <li class="topper">Support</li>
                  <li>Safety tips</li>
                  <li>support@gula.ug</li>
                  <li>FAQ</li>
              </ul>
          </div>
          <div class="col-lg-4">
              <ul>
                  <li class="topper">Contact us</li>
                  <li>+256 787541120</li>
                  <li>+256 700345628</li>
                  <li>gulaadmin@gmail.com</li>
              </ul>
          </div>
          
      </div>
  </div>
</footer>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="{% static "js/scripts.js" %}"></script>
</html>



