{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>GULAA! </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static "assets/favicon.png" %}" />
        <!-- Bootstrap icons-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link href="{% static "css/reg.css" %}" rel="stylesheet" />
        <style>
            body {
                background-image: url('{% static "assets/bluer.jpg" %}');
                background-size: cover;
                background-position: center;
            }
        </style>
    </head>
    <div class="wrapper1">
        {%if messages%}
            {%for message in messages%}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {%endfor%}
        {%endif%}
        <form class="form" method ="POST" action="">
            {%csrf_token%}
            <p>Already have an account?<a href="{%url 'core:login' %}"> Log In</a></p>
            <br></br>
            <div class= 'logo' >
                <a href ="{%url 'core:index'%}">
                    <img src="{% static "assets/bluesquare.png" %}">
                </a>
            </div>
            
            <div class="input-box {% if form.username.errors %}error{% endif %}">
                <input type="text" id="username" name="username" placeholder="Enter username" required>
                <i class='bx bxs-user'></i>
                {% if form.username.errors %}
                    <span class="error-message">{{ form.username.errors }}</span>
                {% endif %}
            </div>


            <div class="input-box {% if form.first_name.errors %}error{% endif %}">
                <input type="text" id="first_name" name="first_name" placeholder="Enter first_name" required>
                <i class='bx bx-align-left'></i>
                {% if form.first_name.errors %}
                    <span class="error-message">{{ form.first_name.errors }}</span>
                {% endif %}
            </div>

            <div class="input-box {% if form.last_name.errors %}error{% endif %}">
                <input type="text" id="last_name" name="last_name" placeholder="Enter last_name" required>
                <i class='bx bx-align-left'></i>
                {% if form.last_name.errors %}
                    <span class="error-message">{{ form.last_name.errors }}</span>
                {% endif %}
            </div>

            <div class="input-box {% if form.email.errors %}error{% endif %}">
                <input type="email" id="email" name="email" placeholder="Enter email" required>
                <i class='bx bx-align-left'></i>
                {% if form.email.errors %}
                    <span class="error-message">{{ form.email.errors }}</span>
                {% endif %}
            </div>

            <div class="input-box {% if form.password1.errors %}error{% endif %}">
                <input type="password" id="password1" name="password1" placeholder="Enter Password" required>
                <i class='bx bxs-lock-alt'></i>
                {% if form.password1.errors %}
                    <span class="error-message">{{ form.password1.errors }}</span>
                {% endif %}
            </div>

            <div class="input-box {% if form.password2.errors %}error{% endif %}">
                <input type="password" id="password2" name="password2" placeholder="Confirm Password" required>
                <i class='bx bxs-lock-alt'></i>
                {% if form.password2.errors %}
                    <span class="error-message">{{ form.password2.errors }}</span>
                {% endif %}
            </div>

            <button type="submit" class="btn">
                Register
            </button>
            <div class="register-link">
                <p>Want to sell?<a href="{%url 'core:business_register'%}">Click Here</a> to register as a business</p>
            </div>
        </form>
    </div>
    <br></br>   

</html>
