{%extends 'core/base.html'%}
{%load static%}
{%block content%}
  <!-- Section-->
        <header>
            <div class="section__container header__container">
                <div class="header__content">
                    <p>Search Page</p>
                    <h1>Search results for "{{query}}"...</h1>
                    <button class="btn" href="#">SHOP NOW  <i class='bx bxs-shopping-bag-alt bx-tada'></i></button>
                    
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="header__image">
                    <img src={%static "assets/header.png"%} >
                </div>
            </div>
        </header>


        <br>
        <br>
{%if product%}
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                
                {%for product in product %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{{product.image.url}}" alt="{{product.title}}" />
                        <!-- Product details-->
                        <div class="card-body p-2">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{product.title}}</h5>
                                <!-- Product price-->
                                <h5>Shs. {{product.price}}</h5>
                            </div>
                        </div>
                        <!-- Product loction actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'core:product' product.id %}">View Product</a></div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                
            </div>
        </div>
    </section>
{%else%}
<br/>
There are no products matching this search....
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{%endif%}
{%endblock%}