{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>GULAA! </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static "assets/favicon.png" %}" />
        <!-- Bootstrap icons-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link href="{% static "css/reg.css" %}" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <style>
            body {
                background-image: url('{% static "assets/bluer.jpg" %}');
                background-size: cover;
                background-position: center;
            }
        </style>
    </head>
    <div class="wrapper1">
        {%if messages%}
            {%for message in messages%}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {%endfor%}
        {%endif%}
        <form class="form" method ="POST" action="">
        {%csrf_token%}
        <h1>My Account</h1> <br/>
     
        <div class= 'logo' >
            <a href ="{%url 'core:index'%}">
                <img src="{% static "assets/bluesquare.png" %}">
            </a>
        </div>
        
                <div class="input-box">
            {{ user_form.username }}
            <i class='bx bxs-user'></i>
            {% if user_form.username.errors %}
            <ul>
                {% for error in user_form.username.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        </div>
        <div class="input-box">
            {{ user_form.first_name }}
            <i class='bx bx-align-left'></i>
        </div>
        <div class="input-box">
            {{ user_form.last_name }}
            <i class='bx bx-align-left'></i>
        </div>
        <div class="input-box">
            {{ user_form.email }}
            <i class='bx bx-align-left'></i>
            {% if user_form.email.errors %}
        <ul>
            {% for error in user_form.email.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
        </div>
        

            <button type="submit" class="btn">
                Update Profile
            </button>
           
        </form>
        <br/><br/>
        <a href="{%url 'core:update_password'%}" class="btn btn-secondary">Update Password</a>
    </div>
    <br></br>   

</html>
