{%extends 'core/base.html'%}
{%load static%}
{%block title%}{%firstof user.get_full_name user.username%}{%endblock%}
{%block content%}
    <h1>{%firstof user.get_full_name user.username%}</h1>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                
                {%for product in user.products.all%}

                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{{product.image.url}}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-2">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{product.title}}</h5>
                                <!-- Product price-->
                                <h5>Shs. {{product.price}}</h5>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View Product</a></div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                
            </div>
        </div>
    </section>
{%endblock%}