*{
    padding: 0;
    margin: 0;
}

.column-container .col-md-6 {
    padding: 0 !important;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:#eeeeee !important;
  
}

.navbar {
    position: fixed !important;
    top: 29px!important;
    bottom: 10 !important;
    width: 100% !important;
    z-index: 100 !important;
    color: #eeeeee!important;
    background-color:  #75b1da !important;
  }
  
  
.navbar .nav-link {
    color: var(--text-dark) !important; /* Set font color for navbar links */
}
  
.navbar .nav-link:hover {
    color: #135ab8 !important; /* Change color on hover if desired */
}
  
.navbar.navbar-expand-lg {
    position: fixed;
    top: 15px;
    bottom: 10;
    width: 100%;
    z-index: 1000;
    background-color:  #75b1da!important;
}


.header__bar {
    padding: .5rem;
    font-size: .8rem;
    text-align: center;
    background-color:#75b1da;
    color: #051c3a;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
/* editing the image for product detail */

.card {
    border: 10px;
    border-color:#75b1da;
    border-radius: 0; /* Removing border radius to create square boxes */
  }
  
  .card-img-top {
    border-radius: 0; /* Removing border radius for product images */
    height: 100%; /* Adjusting the height of the product images */
    width: 100%; /* Adjusting the height of the product images */
    object-fit: cover; /* Making images cover the entire area */
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

/* Vendor section */
.vendor{
    display: flex;
    align-items: center;
    background-color: #75b1da;
    border-radius: 8px;
}

.profile{/*placeholder image*/
    width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 50%;
    padding: 6px;
} 

.vendor a{/*links edits*/
    text-decoration: none;
    color: #051c3a;
}

/* .button{
    margin-left: 10px;

} */
