@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root{
    /* --primary-color: #f1faff; */
    --text-dark: #030712;
    --text-light: #6b7280;
    --extra-light: #fbfbfb;
    --white:#ffffff;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
}

.column-container .col-md-6 {
    padding: 0 !important;
}

body{
    font-family: "Poppons", sans-serif;
    background-color:orange !important;
    
}
.section_container{
    max-width: var(--max-width);
    padding : 5rem 1rem;
    margin: auto;
}
.section__title{
    padding-bottom: .5rem;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 600;
    color: var(--text-dark);
    position: relative;
}

.navbar {
    position: fixed !important;
    top: 29px!important;
    bottom: 10 !important;
    width: 100% !important;
    z-index: 100 !important;
    color: #ffd700 !important;
    background-color:  #051c3a !important;
}

.navbar .nav-link {
    color: var(--text-dark) !important; /* Set font color for navbar links */
}

.navbar .nav-link:hover {
    color: #135ab8 !important; /* Change color on hover if desired */
}

.navbar.navbar-expand-lg {
    position: fixed;
    top: 15px;
    bottom: 10;
    width: 100%;
    z-index: 1000;
    background-color:  #051c3a!important;
}

.section__title ::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX();
    height: 3px;
    width: 75px;
    background-color:var(--text-dark) ;
}

.btn{
    padding:.75rem 2rem;
    font-size: .8rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

a{
    text-decoration: underline;
}

.nav-link a{
    text-decoration: underline;
}


img{
    width:100%;
    display: block;
}

/*importing google fonts and css designs*/
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
    font-style: normal;
  }

/* Custom styles for the Bootstrap carousel */

/* Darker shade of white background */
.bg-light-gray {
    background-color: #f3f3f3; /* Adjust the color as needed */
}

/* Custom styles for the ribbon */
.ribbon-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1; /* Ensure ribbon is above the product image */
}

.ribbon {
    background-color: #ff7b00; /* Ribbon background color */
    color: white; /* Ribbon text color */
    padding: 5px 10px; /* Adjust padding for the ribbon */
    font-size: 12px; /* Ribbon text size */
    font-weight: bold;
    border-radius: 0%; /* Rounded corner on the left side */
    border-width: 40px;
}

/* Square boxes for products */
.card {
    border-radius: 0; /* Remove border radius to create square boxes */
}

.card-img-top {
    border-radius: 0; /* Remove border radius for product images */
    height: 200px; /* Adjust the height of the product images */
    object-fit: cover; /* Ensure images cover the entire area */
}



.header__bar .navbar {
    background-color:orange;
    
}
.header__bar {
    padding: .5rem;
    font-size: .8rem;
    text-align: center;
    background-color:#051c3a;
    color: #ffd700;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.bx-flashing{
    color: #ffd700;
}
.bxs-shopping-bag{
    color: #ffd700;
}

.left-border, .right-border {
    position: fixed;
    top: 0;
    width: 20px; /* Adjust the width as needed */
    background-color:  #443a3a46;; /* Same color as header */
    height: 100vh; /* Full height of the viewport */
}



.col-md-10 .py-5{
    background-color: #051c3a;
}

#displayer{
    position: relative;
}

.link a{
    padding: 0.5rem;
    font-size: .9rem;
    font-weight: 600;
    color: var(--text-dark);
    transition: .3s;
}

.link a:hover{
    color: #ffd700;
}

header{
    margin-top: 10rem;
    background-color:#051c3a;
}

.header__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.header__content p{
    font-size: o.8rem;
    font-weight:600;
    color: #ffd700;
    margin-bottom: 1rem;
    padding-left: 25px;
}

.header__content h1{
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: #ffd700;
    padding-left: 25px;
}
.header__content .btn{
    background-color: #ffd700;
    color: #1f1919;
    padding-left: 40px;
    margin-left: 0;
}

.header__image{
    position: relative;
}

.header__image img{
    max-width:400px;
    position: absolute;
    bottom: -1rem;
}

.section_container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.collection__container{
    display: flex;
    position: absolute;
    padding-top: 0;
    padding-bottom: 0;

}

.collection__container img{
    max-width: 200px;
    max-height: 200px;
    margin:auto;
}

.collection__content{
    position: absolute;
    backdrop-filter:blur(10px);
    top:50%;
    left:2rem;
    transform: translateY(20%);
    transform: translateX(50%);
    max-width: 100px;
    max-height: 100px;
}

.collection__content p{
    font-size: .9rem;
    color:var(--text-light);
    margin-bottom:.5rem;
}

.collection__content h4{
    font-size: 1rem;
    font-weight:600;
    color: #ff7b00;
    margin:0;
}

.collection__content .btn{
    border: 1px solid var(--text-dark);
    color:var(--text-dark);
    background-color: var(--white);
}

.collection__content .btn :hover {
    background-color: var(--text-dark);
    color:var(--white);
}

.collection__content .section__title{
    margin-bottom: 2rem;
}

.column-container {
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    gap: 0; /* Adjust the gap between sections */
}

.column-container div {
    background-color: transparent;
    margin-bottom: 5px;
    padding: 5px;
}

.column-container > div {
    flex: 1 1 160px; /* Minimum width of each section, adjust as needed */
    max-width: fit-content; /* Maximum width of each section, adjust as needed */
    padding:0;
}

.column-container > div .col-md-6 {
    padding: 0 !important;
}

.category_title{
    margin:2px;
    padding: 30px 0px 0px 30px
}

.category_title h3{
    font-size: 1.5rem;
    margin: 0;
    text-decoration: underline;
}

.section_container {
    max-width: 100%; /* Set the maximum width to ensure responsiveness */
}

.navigation__bar {
    background-color: #fced1d; /* Set background color of navigation bar */
    padding: 10px; /* Add padding as needed */
    text-align: center; /* Align navigation links to center */
}

.navigation__bar a {
    margin: 10px 10px; /* Add margin between navigation links */
    text-decoration: underline;
    color: #000; /* Set color of navigation links */
}
