*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
    /*editing the body design of the page*/
body{
    display:flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url("assets/bluer.jpg");
}
   
  
/*Editing the wrapper class for the login page*/
.wrapper{
    width: 420px;
    background: #fff;
    border: 2px solid rgba(190, 176, 176, 0.2);
    color: #03103b;
    padding:30px 40px;
    border-color: #3d3535;
    
}

.wrapper1{
    width: 50%;
    background: #fff;
    border: 2px solid rgba(190, 176, 176, 0.2);
    color: #030000;
    padding:30px 40px;
    border-color: #3d3535;
    
}
.wrapper1 p a:hover{
    text-decoration: underline;
    transform: scale(1.01);
}

.wrapper1 p{
    text-align: center;
    color: #160a5f;
}
.wrapper1 p a{
    color: #270602;
    text-decoration: none;
}

/*editing the wrapper heading*/
.wrapper h1{
    font-size:36px;
    text-align:center;
    color:#353131
}

.wrapper1 .input-box{
    position:relative;
    width:100%;
    height:50px;
    margin: 30px 0;
    border-color: #333;
}
.wrapper1 .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.wrapper1 .logo{
    position:relative;
    justify-content: center;
    text-align:center;
    image-orientation: 0deg;
}
/*editing the input box*/
.wrapper .input-box{
    position:relative;
    width:100%;
    height:50px;
    margin: 30px 0;
    border-color: #333;
}


.wrapper .logo{
    position:relative;
    justify-content: center;
    text-align:center;
    image-orientation: 0deg;
}


/*editing the input box input*/
.input-box input{
    width: 100%;
    height:100%;
    background:transparent ;
    border: none;
    outline:none;
    border: 2px solid rgba(48, 42, 42, 0.2);
    font-size: 16px;
    color:#000000;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #050455;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
    border-color: #000000;
}
.wrapper .btn{
    width:100%;
    height:45px;
    background: #050455;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}
.wrapper1 .btn{
    width:100%;
    height:45px;
    background: #050455;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 20px;
    text-align: center;
    margin: 20px 0 15px;
    font-weight: bold;
}


.register-link p a{
    color: #030f38;
    text-decoration:none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
    transform: scale(1.01);
}

.input-box.error input {
    border-color: #DB504A; /* Red border color for error */
}

.input-box.error i {
    color: #DB504A; /* Red icon color for error */
}
.error-message {
    color: #DB504A; /* Red color for error message */
    font-size: 12px;
    margin-top: 5px;
}