body{
    margin:0px;
    padding: 0px;
    background-color: #1b203d;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
}

.clearfix{
    clear:both;
}

.logo{
    margin: 0px;
    margin-left: 28px;
    font-weight:bold;
    color:white;
    margin-bottom: 30px;
}

.logo span{
    color: #f7403b;
}


.sidenav{
    height: 100%;
    width: 300px;
    position:fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color: #272c4a;
    overflow: hidden;
    transition:0.5s;
    padding-top: 30px;
}

.sidenav a{
    padding: 15px 8px 15px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: #f1f1f1;
    background-color: #1b203d;
}
